<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tujuan Karir</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <h3>Hafizh Rasyid Ridha - 2024</h3>
        <h6>Bandung | Jl. Kebon Bibit Tengah No. 8 | hafizhrasyid@upi.edu</h6>
    </header>
    <section class="myInformation" id="tujuanKarir">
        <h3>Tujuan Karir</h3>
        <p>Tujuan karir saya setelah menempuh studi ialah untuk menjadi seorang <i>full-stack developer</i> atau menjadi UI/UX <i>designer</i>. Dengan latar belakang pemrograman perangkat lunak, pekerjaan tersebut merupakan tujuan yang cocok bagi saya.</p>
    </section>
</body>
</html>