<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keahlian</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <h3>Hafizh Rasyid Ridha - 2024</h3>
        <h6>Bandung | Jl. Kebon Bibit Tengah No. 8 | hafizhrasyid@upi.edu</h6>
    </header>
    <section class="myInformation">
        <h3>Hard Skills</h3>
        <p>Beberapa <i>hard skills</i> yang saya kuasai di antaranya adalah sebagai berikut:</p>
        <ol>
            <b><li>C</li></b>
            <b><li>Figma</li></b>
            <b><li>Adobe Photoshop</li></b>
            <b><li>C#</li></b>
        </ol>
    </section>

    <section class="myInformation">
        <h3>Soft Skills</h3>
        <p>Beberapa <i>soft skills</i> yang saya miliki di antaranya adalah sebagai berikut:</p>
        <ul>
            <b><li>Berkomunikasi dengan baik</li></b>
            <b><li>Bekerja sama</li></b>
            <b><li>Jiwa kepemimpinan</li></b>
            <b><li>Public speaking</li></b>
        </ul>
    </section>
</body>
</html>