<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organisasi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <h3>Hafizh Rasyid Ridha - 2024</h3>
        <h6>Bandung | Jl. Kebon Bibit Tengah No. 8 | hafizhrasyid@upi.edu</h6>
    </header>
    <section class="myInformation" id="pengalamanOrganisasi">
        <h3>Pengalaman Organisasi</h3>
        <h4>BEM KEMAKOM<img src="{% static 'img/kemakom_logo.jpeg' %}" alt="Logo Keluarga Mahasiswa Komputer" class="logo"></h4>
        <p>Berada di Divisi Pendidikan dan Pelatihan di BEM KEMAKOM, saya berpartisipasi dalam penyelenggaraan beberapa kegiatan yang di antaranya adalah podcast, wisuda, dan kelas tambahan. Saya juga menjadi ketua pelaksana pada kegiatan bootcamp yang mempelajari tentang web development yang berhasil meraih lebih dari seratus peserta.</p>
        <p>
            Beberapa acara dan kegiatan yang saya ikut di antaranya ialah:
            <ul>
                <li>Responsi (Kelas Tambahan)</li>
                <li>Improve (Podcast seputar Programming)</li>
                <li>Inaugurasi (Acara tahunan)</li>
                <li>Pelatihan Teknologi (Bootcamp tentang web development)</li>
                <li>Wisuda Gelombang 2</li>
            </ul>
        </p>
    </section>
</body>
</html>