<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tujuan Karir</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <h3>Hafizh Rasyid Ridha - 2024</h3>
        <h6>Bandung | Jl. Kebon Bibit Tengah No. 8 | hafizhrasyid@upi.edu</h6>
    </header>
    <section class="myInformation" id="riwayatPendidikan">
        <h3>Riwayat Pendidikan</h3>
        <ul>
            <li>
                <b>SMA Negeri 1 Bandung</b><img src="{% static 'img/79-SMAN_1_BANDUNG.png' %}" alt="Logo SMANSA" class="logo"><br><i>2020 - 2023</i>
            </li>
            Berada pada jurusan IPS dan memiliki beberapa sertifikat partisipasi lomba.
            <li>
                <b>Universitas Pendidikan Indonesia</b><img src="{% static 'img/Logo_Almamater_UPI.svg.png' %}" alt="Logo UPI" class="logo"><br><i>2023 - sekarang</i>
            </li>
            Pada program studi Pendidikan Ilmu Komputer, saya mempelajari banyak materi, mulai dari Algoritma dan Pemrograman, Struktur Data, dan Desain Grafis.
        </ul>
    </section>
</body>
</html>